@use "@/styles/utils.module.scss";
@use "@/styles/cores.module.scss";

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .field:last-of-type {
        margin-bottom: utils.converterPxParaRem(37px);
    }
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.label {
    position: absolute;
    top: -6px;
    left: 5px;
    font-size: 12px;
}

.input {
    background-color: #E7E7E7;
    border: none;
    width: 12rem;
    height: 2.313rem;
    border-radius: 5px;
    padding: 0 1rem;
}

.input:focus {
    border: none;
    outline: none;
}

.erros {

    font-size: utils.converterPxParaRem(12px);
    list-style: disc;
    box-sizing: border-box;
    width: 15rem;
    border-radius: 5px;
    border: utils.converterPxParaRem(1px) solid #FF7D7D;
    background-color: cores.$vermelhoClaro;
    padding: utils.converterPxParaRem(10px) utils.converterPxParaRem(12px);
    margin-bottom: utils.converterPxParaRem(40px);

}

.erro {
    color: cores.$vermelhoEscuro !important;
    margin-bottom: utils.converterPxParaRem(10px);
    line-height: utils.converterPxParaRem(15px);

    &:last-of-type {
        margin-bottom: 0;
    }
}