@use "@/styles/cores.module.scss";
@use "@/styles/utils.module.scss";

.pesquisa {
    display: flex;
    justify-content: center;
   
    margin: 0 auto utils.converterPxParaRem(42px) auto;
    width: utils.converterPxParaRem(200px);
}

.adicionar {
    margin-left: utils.converterPxParaRem(30px);
}
