@use "@/styles/cores.module";
@use "@/styles/utils.module";

.info {
    margin-top: utils.converterPxParaRem(21px);
    font-size: utils.converterPxParaRem(12px);
}

.textoPrimario {
    color: cores.$verdeClaro;
    margin-bottom: utils.converterPxParaRem(6px);
}

.divider {
    border-top: 1px solid cores.$cinza;
    width: utils.converterPxParaRem(232px);
    margin: utils.converterPxParaRem(17px) auto utils.converterPxParaRem(24px) auto;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-bottom: utils.converterPxParaRem(32px);
    font-size: utils.converterPxParaRem(12px);
    font-weight: bold;
}

.botao {
    display: block;
    margin: 0 auto;
}