@use "../../styles/cores.module.scss";
@use "../../styles/utils.module.scss";


.texto {
    display: flex;
    margin-bottom: utils.converterPxParaRem(12px);

    font-weight: 400;
    font-size: utils.converterPxParaRem(12px);
    color: cores.$preto;  
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: utils.converterPxParaRem(30px);
}

.preco {
    color: cores.$preto;
}

.apelido {
    font-weight: 600;
    color: cores.$preto;
}

.editar {
    margin-left: utils.converterPxParaRem(80px);

    color: cores.$preto;
}

.lixo {
    margin-left: utils.converterPxParaRem(13px);
    
    color: cores.$preto;
}

.dados {
    margin-bottom: utils.converterPxParaRem(16px);
}
