@use "../../styles/utils.module.scss";
@use "../../styles/cores.module.scss";


.modal {
   

    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: cores.$branco;
    border-radius: utils.converterPxParaRem(10px);
    padding: utils.converterPxParaRem(12px) utils.converterPxParaRem(21px);
    min-width: utils.converterPxParaRem(197px);
    z-index: 2;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: utils.converterPxParaRem(19px);
}

.icone {
    margin-bottom: utils.converterPxParaRem(7.01px);
}

.titulo {
    font-size: utils.converterPxParaRem(14px);
    font-weight: bold;
    text-align: center;
}

.rodape {
    display: flex;
    justify-content: space-around;
}

.botao {
    border: none;
    border-radius: utils.converterPxParaRem(5px);
    min-width: utils.converterPxParaRem(61px);
    min-height: utils.converterPxParaRem(19px);
    color: cores.$branco;
    font-size: utils.converterPxParaRem(12px);
}

.botaoConfirmar {
    background-color: cores.$vermelho;
}

.botaoCancelar {
    background-color: cores.$verdeClaro;
}

