@use "../../styles/utils.module.scss";
@use "../../styles/cores.module.scss";


.modal {
   

    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: cores.$branco;
    border-radius: utils.converterPxParaRem(10px);
    padding: utils.converterPxParaRem(12px) utils.converterPxParaRem(21px);
    min-width: utils.converterPxParaRem(300px);
    z-index: 2;

    animation: showModal 0.5s forwards;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: utils.converterPxParaRem(19px);
}

.icone {
    margin-bottom: utils.converterPxParaRem(7.01px);
}

.titulo {
    font-size: utils.converterPxParaRem(14px);
    font-weight: bold;
    text-align: center;
}

.corpo {
    overflow-y: scroll;
    height: 100px;
    width: 100%;
 
}

.rodape {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;

}

.botao {
    border: none;
    border-radius: utils.converterPxParaRem(5px);
    min-width: utils.converterPxParaRem(61px);
    min-height: utils.converterPxParaRem(19px);
    color: cores.$branco;
    font-size: utils.converterPxParaRem(12px);
}

.botaoConfirmar {
    background-color: cores.$vermelho;
    min-width: 4.875rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 1.75rem;

}

.botaoCancelar {
    background-color: cores.$verdeClaro;
    min-width: 4.875rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 1.75rem;
}

@keyframes showModal {
    from {
        opacity: 0%;
        transform: translate(-50%, -30%);

    }
    to {
        opacity: 100%;
    }
}
