$verdeClaro: #5ED0AE;
$verdeEscuro: #2A8367;
$cinza: #E7E7E7;
$branco:#F8F8F8;
$preto: #343434;

:export {
    verdeClaro: $verdeClaro;
    verdeEscuro: $verdeEscuro;
    cinza: $cinza;
    branco: $branco;
    preto: $preto;
}