@use "../../../styles/cores.module.scss";
@use "../../../styles/utils.module.scss";


.titulo {
    margin-top: utils.converterPxParaRem(15px);
    margin-bottom: utils.converterPxParaRem(20px);
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: utils.converterPxParaRem(12px);
    color: cores.$preto;
}
