@use "../../../styles/cores.module.scss";
@use "../../../styles/utils.module.scss";


.titulo {
    margin-top: utils.converterPxParaRem(15px);
    text-align: center;
    font-size: utils.converterPxParaRem(14px);
    font-weight: bold;
    margin-bottom: utils.converterPxParaRem(30px);
    
    color: cores.$preto;
}
