@use "../../styles/utils.module.scss";
@use "../../styles/cores.module.scss";

.nav {
    border-radius: utils.converterPxParaRem(10px) utils.converterPxParaRem(10px) 0 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: utils.converterPxParaRem(45px);
    font-size: utils.converterPxParaRem(11px);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: utils.converterPxParaRem(51px);

    &:last-of-type {
        margin-right: 0;
    }
}

.icone {
    margin-bottom: utils.converterPxParaRem(2px);
}