@use "../../../styles/cores.module.scss";
@use "../../../styles/utils.module.scss";


.titulo {
    margin-top: utils.converterPxParaRem(15px);
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 12px;
    color: cores.$preto;
}

.divider {
    border-top: 1px solid cores.$cinza;
    width: 13.938rem;
    margin: 0.75rem auto utils.converterPxParaRem(37px) auto;
}

.authenticate {
    border: none;
    background-color: cores.$cinza;
    height: utils.converterPxParaRem(28px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: utils.converterPxParaRem(187px);
    border-radius: utils.converterPxParaRem(3px);
    margin-bottom: utils.converterPxParaRem(137px);
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: utils.converterPxParaRem(12px);
    margin-bottom: utils.converterPxParaRem(29px);
}