@use "@/styles/utils.module";
@use "@/styles/cores.module";

.container {
    position: relative;
}

.filtrar {
    display: flex;
    justify-content: center;
    font-size: utils.converterPxParaRem(12px);
    background-color: cores.$cinza;
    margin-top: utils.converterPxParaRem(5px);
    margin-bottom: utils.converterPxParaRem(20px);
    border-radius: utils.converterPxParaRem(3px);
    padding: utils.converterPxParaRem(4px);
}

.filtros {
    box-shadow: 0px 0px 5px 0px black;
    font-size: utils.converterPxParaRem(12px);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: cores.$branco;
}

.filtro {
    display: flex;
    align-items: center;
    margin-bottom: utils.converterPxParaRem(5px);
}