@use "@/styles/utils.module";
@use "@/styles/cores.module";

.container {
    position: relative;
}

.filtrar {
    display: flex;
    justify-content: center;
    font-size: utils.converterPxParaRem(12px);
    background-color: cores.$cinza;
    margin-top: utils.converterPxParaRem(5px);
    margin-bottom: utils.converterPxParaRem(20px);
    border-radius: utils.converterPxParaRem(3px);
    padding: utils.converterPxParaRem(4px);
}

.filtros {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    font-size: utils.converterPxParaRem(12px);
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: cores.$branco;
    z-index: 2;
}

.filtro {
    display: flex;
    align-items: center;
    margin-bottom: utils.converterPxParaRem(5px);

   
}

.titulo {
    margin-bottom: utils.converterPxParaRem(10px);
}

.botao {
    display: block;
    margin: utils.converterPxParaRem(25px) auto 0 auto;
}