version: '3'
services:
  backend:
    build:
      context: ./backend/pickfood
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - database # n sei se a gnt iria precisar passar algo do database aq... mas talvez si
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - backend
  database:
    image: mysql:latest
    environment:
      - MYSQL_DATABASE=${mysqldatabase}
      - MYSQL_ROOT_PASSWORD=${mysqlpassword}
      - MYSQL_USER=${mysqluser}
      - MYSQL_PASSWORD=${mysqlpassword}
      - MYSQL_HOST=${mysqlhost}
      - MYSQL_PORT=${mysqlport} # botamos as creds aq ou a gnt da export qnd dermos o up?
