@use "../../../styles/cores.module.scss";
@use "../../../styles/utils.module.scss";

.center {
    width: 100%;
    margin: 0 auto;
}

.title {

    font-weight: 700;
    font-size: utils.converterPxParaRem(12px);
    margin-top: utils.converterPxParaRem(30px);
    margin-bottom: utils.converterPxParaRem(30px);
    justify-content: center;

    text-align: center;

    color: cores.$preto;
}

.opcoes {
    flex-direction:row;
    position: relative;
    display: flex;
    justify-content: center;

    margin-top: utils.converterPxParaRem(40px);
}

.excluirConta {
    display: flex;
    align-items: center;
    font-size: utils.converterPxParaRem(12px);
}

.iconeExcluirConta {
    margin-right: utils.converterPxParaRem(8px);
}

.textoExcluirConta {
    margin-left: utils.converterPxParaRem(60px);
    
    color: cores.$vermelho;
}