@use "../../../styles/cores.module.scss";
@use "../../../styles/utils.module.scss";

.center {
    width: 100%;
    margin: 0 auto;
}

.title {

    font-weight: 700;
    font-size: utils.converterPxParaRem(12px);
    margin-top: utils.converterPxParaRem(30px);
    margin-bottom: utils.converterPxParaRem(30px);
    justify-content: center;

    text-align: center;

    color: cores.$preto;
}

.opcoes {
    flex-direction:row;
    position: relative;
    display: flex;
    justify-content: center;

    margin-top: utils.converterPxParaRem(40px);
}

.link {

    font-weight: 400;
    font-size: utils.converterPxParaRem(11px);
    line-height: utils.converterPxParaRem(13px);
    text-align: center;
    margin-left: utils.converterPxParaRem(60px);
    margin-top: utils.converterPxParaRem(13px);

    color: #FF7D7D;
}
