@use "../../../styles/cores.module.scss";
@use "../../../styles/utils.module.scss";

.arrow {
    margin-top: utils.converterPxParaRem(20px);
}

.logo {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 3.063rem;
}

.link {
    font-size: 12px;
    color: cores.$verdeClaro;
}

.divider {
    border-top: 1px solid cores.$cinza;
    width: 13.938rem;
    margin: 0.75rem auto utils.converterPxParaRem(37px) auto;
}


.botaoGoogle {
    border: none;
    background-color: cores.$cinza;
    height: utils.converterPxParaRem(28px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: utils.converterPxParaRem(187px);
    border-radius: utils.converterPxParaRem(3px);
    margin-bottom: utils.converterPxParaRem(137px);
}

.containerInferior {
    display: flex;
    flex-direction: column;
    align-items: center;
}