@use "../../styles/utils.module.scss";
@use "../../styles/cores.module.scss";

.pesquisa {
    flex-direction:row;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    min-width: utils.converterPxParaRem(200px);
}

.input{
    border: none;
    width: 100%;

    background: cores.$cinza;
    opacity: 0.95;
    border-radius: utils.converterPxParaRem(2px);
    width: 100%;
    height: utils.converterPxParaRem(26px);
    padding-left: utils.converterPxParaRem(25px);

    &:focus {
        outline: none;
    }
}

.buscar {

    position: absolute;
    left: utils.converterPxParaRem(5px);
    top: 50%;
    transform:translateY(-50%);
    color: cores.$verdeEscuro;
}