@use "../../../../styles/cores.module.scss";
@use "../../../../styles/utils.module.scss";

.arrow {
    margin-top: utils.converterPxParaRem(20px);
}

.center {
    width: 100%;
    margin: 0 auto;
}

.title {

    font-weight: 700;
    font-size: utils.converterPxParaRem(14px);
    margin-top: utils.converterPxParaRem(57px);
    margin-bottom: utils.converterPxParaRem(30px);

    text-align: center;

    color: cores.$preto;
}


.botao {
    margin-top: utils.converterPxParaRem(90px);
}

.logo {
    margin: 0 auto;
    display: flex;
    margin-bottom: 2.188rem;
}
