@use "../../../../../styles/cores.module.scss";
@use "../../../../../styles/utils.module.scss";

.titulo {
    margin-top: utils.converterPxParaRem(15px);
    text-align: center;
    font-size: utils.converterPxParaRem(14px);
    font-weight: bold;

    flex-direction:row;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    color: cores.$preto;
}

.adicionar {
    width: utils.converterPxParaRem(15px);
    height: utils.converterPxParaRem(15px);
    margin-left: utils.converterPxParaRem(20px);

    color: cores.$preto;
}
