@use "../../../../../../styles/utils.module.scss";
@use "../../../../../../styles/cores.module.scss";

.titulo {
    margin-top: utils.converterPxParaRem(15px);
    margin-bottom: utils.converterPxParaRem(30px);
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: utils.converterPxParaRem(14px);
    color: cores.$preto;
}

.divider {
    border-top: 1px solid cores.$preto;
    width: 13.938rem;
    margin: 0.75rem auto utils.converterPxParaRem(37px) auto;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: utils.converterPxParaRem(12px);
    margin-bottom: utils.converterPxParaRem(29px);
}

.link {
    text-decoration:none;
}